<div class="container" fxLayout="colum" fxLayoutAlign="center" layout="Column">
    <div fxFlex="95%">

        <h2 class="h1">Medios de Pago</h2>
        <mat-card>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" >
                <mat-form-field class="example-full-width">
                    <mat-label>Medios de Pago</mat-label>
                    <input matInput [(ngModel)]="ModMedioPagos.Nombre" >
                  </mat-form-field>             
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" >
                <button mat-raised-button color="primary">Enviar</button>
                
            </div>

            <div><span>{{ModMedioPagos.Nombre}}</span></div>
        </mat-card>
    </div>
</div>
