<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar style="color: antiquewhite;">
        <img id="logo" src="https://png.pngtree.com/element_pic/00/16/07/115783931601b5c.jpg" style="width:45px;height:auto" alt="">
        </mat-toolbar>
    <ng-material-multilevel-menu [configuration]='config' [items]='appitems'>
    </ng-material-multilevel-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Test</span>
        <span class="example-spacer"></span>


        <button mat-icon-button matBadge="2" matBadgeColor="warn" [matMenuTriggerFor]="Message">
          <mat-icon>drafts</mat-icon>
        </button>
        <mat-menu #Message="matMenu">
          <button mat-menu-item>Tiene mensajes pendientes</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="User">
          <mat-icon>person</mat-icon>
        </button>
        <span _ngcontent-kvf-c0="" fxhide.xs="" fxshow=""> Yorki Encarnacion </span>
        <mat-menu #User="matMenu">
          <button mat-menu-item>Cuenta</button>
          <button mat-menu-item >Salir</button>
        </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
