

<app-sidenav></app-sidenav>

<!--
  <footer>
  <mat-toolbar color='primary'>
    <span class='spacer'></span>
      <h3>© Copyright Angular Apps 2017.</h3>
    <span class='spacer'></span>
    </mat-toolbar>
</footer>
-->


