
  .mat-toolbar{
    
    margin: 20px;
    margin-bottom: 0px ;

  }
  .mat-card {
    margin-top: 0px !important;
    margin: 20px;

  }
  .h1{
    margin-top: 10px !important;
  }
  
  table {
    width: 100%;
  }
